source/analysis/dist/
source/analysis/node_modules/
source/api/node_modules/
source/api/dist/
source/helper/dist/
source/helper/node_modules/
source/web_site/build/
source/web_site/node_modules/
source/web_site/regional-s3-assets
source/web_site/global-s3-assets
deployment/global-s3-assets
deployment/regional-s3-assets